@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


h2{
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h3{
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #162840;
}


h4{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.bg-image-cover {
  background-image: url('/images/image-cover.png');
}

.primary-btn{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
}

/* scrollbar css  */

/* styles/globals.css */

::-webkit-scrollbar {
  width: 6px;
  height: 20px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccd1da;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A5ACB8; /* Darker green */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #A5ACB8 ;
}
